<div class="page-wrapper">

  <button class="back-btn" (click)="goBackToDashboard()">
    <i class="bi bi-arrow-left"></i> Back to Dashboard
  </button>

  <div class="page-container">
    <div class="card">
      <div class="card-header">
        <h2>My Booking Details</h2>
      </div>

      <div class="error-msg" *ngIf="showError">{{ errorMessage }}</div>

      <div *ngIf="bookings.length === 0 && !showError" class="empty-state">
        You have no approved bookings yet.
      </div>

      <div *ngFor="let booking of bookings" class="booking-card">

        <div class="booking-header">
          <h3>{{ booking.eventTitle }}</h3>
          <span class="badge-approved">{{booking.linkedEvent.status}}</span>
        </div>

        <p class="description">{{ booking.eventDescription }}</p>

        <div *ngIf="booking.linkedEvent" class="booking-meta">
          <div class="meta-item">
            <span class="meta-label">Location</span>
            {{ booking.linkedEvent.location }}
          </div>
          <div class="meta-item">
            <span class="meta-label">Date & Time</span>
            {{ booking.linkedEvent.dateTime | date:'medium' }}
          </div>
          <div class="meta-item">
            <span class="meta-label">Status</span>
            {{ booking.linkedEvent.status }}
          </div>
          <div class="meta-item">
            <span class="meta-label">Planner</span>
            {{ booking.linkedEvent.planner?.username || '—' }}
          </div>
          <div class="meta-item">
            <span class="meta-label">Assigned Staff</span>
            {{ booking.linkedEvent.assignedStaff?.username || booking.linkedEvent.completedByStaff ||'—' }}
          </div>
          <div class="meta-item">
            <span class="meta-label">Your Attendees</span>
            {{ booking.expectedAttendees }}
          </div>
        </div>

        <div class="resources-section" *ngIf="booking.linkedEvent?.allocations?.length > 0">
          <h4>Allocated Resources</h4>
          <div class="table-responsive">
            <table class="data-table">
              <thead>
                <tr>
                  <th>Resource</th>
                  <th>Type</th>
                  <th>Quantity</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let alloc of booking.linkedEvent.allocations">
                  <td>{{ alloc.resource?.name }}</td>
                  <td>{{ alloc.resource?.type }}</td>
                  <td>{{ alloc.quantity }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>