<form [formGroup]="itemForm" (ngSubmit)="onRegister()" class="form">
                        <div class="mb-3">
                            <input type="text" id="username" formControlName="username" class="form-control"
                                placeholder="Username" required>
                            <div *ngIf="itemForm.get('username')?.invalid && itemForm.get('username')?.touched"
                                class="invalid-feedback">
                                <span *ngIf="itemForm.get('username')?.hasError('required')">Username is required</span>
                                <span *ngIf="itemForm.get('username')?.hasError('pattern')">Username should only contain
                                    lowercase letters</span>
                                <span *ngIf="itemForm.get('username')?.hasError('notUnique')">Username already
                                    exists</span>
                            </div>
                        </div>
                       
                        <div class="mb-3">
                            <input type="email" id="email" formControlName="email" class="form-control"
                                placeholder="Email" required>
                            <div *ngIf="itemForm.get('email')?.invalid && itemForm.get('email')?.touched"
                                class="invalid-feedback">
                                <span *ngIf="itemForm.get('email')?.hasError('required')">Email is required</span>
                                <span *ngIf="itemForm.get('email')?.hasError('invalidEmailFormat')">Please enter a valid
                                    email address</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="password" id="password" formControlName="password" class="form-control"
                                placeholder="Password" required>
                            <div *ngIf="itemForm.get('password')?.invalid && itemForm.get('password')?.touched"
                                class="invalid-feedback">
                                <span *ngIf="itemForm.get('password')?.hasError('required')">Password is required</span>
                                <span *ngIf="itemForm.get('password')?.hasError('pattern')">Password must contain at
                                    least one number, one uppercase and lowercase letter, one special character, and be
                                    8-20 characters long</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <select id="role" formControlName="role" class="form-select">
                                <option value="">Select Role</option>
                                <option value="STAFF">Staff</option>
                                <option value="PLANNER">Planner</option>
                                <option value="CLIENT">Client</option>
                            </select>
                            <div *ngIf="itemForm.get('role')?.invalid && itemForm.get('role')?.touched"
                                class="invalid-feedback">
                                Role is required
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary w-100" [disabled]="itemForm.invalid">Sign
                            Up</button>
                    </form>